/*@import url(http://weloveiconfonts.com/api/?family=brandico|fontawesome|iconicfill|iconicstroke|zocial) !important;


/* brandico */
/*[class*="brandico-"]:before !important{
  font-family: 'brandico', sans-serif !important;
}*/

/* fontawesome */
/* [class*="fontawesome-"]:before !important {
  font-family: 'FontAwesome', sans-serif !important;
}
*/
/* iconicfill */
/* [class*="iconicfill-"]:before !important {
  font-family: 'IconicFill', sans-serif !important ;
}
*/
/* iconicstroke */
/* [class*="iconicstroke-"]:before !important {
  font-family: 'IconicStroke', sans-serif !important;
}*/

/* zocial */
/* [class*="zocial-"]:before !important {
  font-family: 'zocial', sans-serif !important ;
}*/



body {
  padding-top: 20px;
background :  white;
    overflow: auto;




}

.blurb 
{
      border-bottom: solid #624a40;
    	border-bottom-width: 15px;
     border-bottom-right-radius: 2em;
        padding-top: none;
}


    
}




h2

{
      border-bottom: 1px solid #624a40 !important;
     color: #624a40 !important;
  text-align: center !important;
}



.jumbotron .lead {
font-size: 16px !important;
}



/* ======== Buttons ======== */

.btn-success {
background-color:  #E4F4D6;
border-color: white;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
background-color: #624a40;
    color: #197519;
border-color: white;
}


.btn-primary {
background-color: white;
border-color: black;
color: #197519;
padding-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
background-color: black;
border-color: black;
color: #E4F4D6;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top:10px;
  border-top: 1px solid #624a40;
  background-color: #FFE0C2;
  width: 95%;
  margin-left: auto;
    text-align: center;
  margin-right: auto;
  color: #624a40;
}
/* ======== //button ======== */
/* ======== Footer ======== */


.footer ul
{border:none;
  list-style-type: none;
   margin: 0;
    padding: 0;
}

.footer p
{
color: black;
   text-align: center;
    float: center;
    border: none;
}

.footer li
{
    border: none;
   display: inline;
   float: center;
}

.footer a

{   display: block;
  border: none;
    margin: 0;
    padding: 0;
	display: inline;
	color: black;
}

.footer a:hover
{
  	background-color: white;
    text-decoration: none;
}

.footer a:visited
{
    color: black;
}

.footer a:active
{
    color: black;
}

div a {
padding: 0;
}

div img {
display: block;
margin-left: auto;
margin-right: auto;
    width: 60%;
height: 60%;
}

@media screen and (max-width: 768px) {
.row .col-lg-4 img {
width: 20%;
height: 20%;
display:inline-block;
border-radius: 20px 20px 20px;
padding: 10px 10

}
}



.row
{

width: 650px;
margin: 0 auto;
padding-top: 40px;

}

.row  .col-lg-4{
float: left;
display:inline-block;
 padding: 10px;
}

.col-lg-4 img{
    border-radius: 20px 20px 20px;
}

.row .imagesface img
{
display:inline-block;
    border-radius: 20px 20px 20px;
float:left;
 border-radius: 20px 20px 20px;
    padding: 10px;
width:50%;
height:410px;

}
/* ======== Staement-container Css ======== */

.statement-container {
  padding: 4% 10%;
    max-width: 100%;
    margin-top:40px;
      background-color: #E4F4D6;
  padding:3px;
}


.statement-container a{
    color: black;
    
}

.statement-container a:active{
    color:  black;
}


.statement-container a:visited{
    color:  black;
    
}
.statement-container a:hover{
    color: black;
    background-color: #E4F4D6;
    text-decoration: none;
  
}

/* ======== / Staement-container Css ======== */

/* ======== Skincare makeup Css ======== */

.statement-container, .skincare-statement, .makeup-statement, .skincarereview-statement,  .makeup-statement  h3 !important
{
    color: #624a40;
    text-shadow: 5px 2px 2px white; 
    text-align: left;
}



.statement-container, .skincare-statement, .makeup-statement, .skincarereview-statement,  .makeup-statement  h3, h5, h4, h5, p,  li, ol, ul !important
{
    text-align: left !important;
}



.statement-container, .skincare-statement, .makeup-statement, .skincarereview-statement,  .makeup-statement h1 {
   border-bottom: 1px solid #624a40 !important;
  text-align: left;
}


/* ======== Skincare makeup images Css ======== */

.skincarereview-statement img
{
    position:relative;
    width: 30%;
    height: 40%;
    border-radius: 20px 20px 20px;

}

.makeup-statement img
{
    position:relative;
    width: 40%;
    height: 50%;
    border-radius: 20px 20px 20px;
}

.contactInfo {
	font-size: 120%;
	padding-top: 10px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
}



.twitter2, .youtube
{
     width: 50%;
    margin: 0 auto;
    
}

/* ======== END SkinCare CSS ======== */
/* ==== ORDER FORM CSS ==== */
.checkbox-inline > ul {
text-align: left;
padding: 0 230px 0 0;
margin: 0;
}
/* ==== ORDER FORM CSS ==== */

/* ==== CONTACT CSS ==== */

.col-lg-4 img
{
    height:80%;
    width: 80%;
    
    
}
.socialMedia {	
	margin-top: 20px;
	font-size: 300%;
	text-align: center;
	color: black;
	font-family:  'Arial', Times New Roman, sans-serif;
	height: auto;
	padding: 10px;
    padding-bottom: 40px;
	
}

.socialmedia-text a:hover
{
    text-decoration: none;
    color: #624a40;
    background-color: #FFE0C2;
    
}

@media screen and (max-width: 768px) {
.socialmedia-text, .statement-container h1,h2,h3,h4,h5 {
color: #624a40;
    text-align:left;

}}

@media screen and (max-width: 768px) {
.socialmedia-text h4 {
color: #624a40;
    text-align:left;
      text-shadow: 5px 2px 2px white; 

}}

@media screen and (max-width: 768px) {
.col-lg-4 img{
    height: 80px !important;
    width: 50px !important;
    margin: 0 auto;

}}


@media screen and (max-width: 768px) {
.twitter{
   float: left;
    padding: 10px;
}}


@media screen and (max-width: 768px) {
.container{
    
     overflow-y: hidden;

}}

.socialmedia-text h1{
     color: #624a40;
    
}
  
.twitter{
   width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;

}
.socialmedia-text h4, h5 {
    
    color: #624a40 ;
     text-shadow: 5px 2px 2px white; 
}

.socialmedia-text {
	font-size: 120%;
	font-weight: bolderest;
	margin-top: 15px;
    border-bottom: 1px solid #624a40;
  text-align: center;
}
.socialmedia-text p
{
    text-align: center;
}
	
	.masthead  img {
		max-width: 400px;
        padding-bottom: 20px;
        border-radius: 20px 20px 20px;
 
	}

/* ==== CONTACT CSS ==== */


.statement-container {
  padding: 4% 10%;
}
.statement-w {
  border-bottom: 1px solid black;
  text-align: left;
}

.warranty-statement h2 {
  border-bottom: 1px solid black;
  text-align: center;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 0px;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron a
{
color: black;
}

.jumbotron a:visted
{
color: black;
}

.jumbotron a:active
{
color: black;
}

.jumbotron a:hover
{
color: #ff6699;
}

.jumbotron h1
{
    color: #ff6699;
    
}

.jumbotron p {
text-align: left; 
font-size: 11px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #FFFFF4;
  border: 1px solid #FFFFF4;
  border-radius: 5px;
}

.nav-justified ul {
	background-color: #FFFFF4);
}

.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px !important;
  margin-bottom: 0px !important;
  font-weight: bold;
  color: #624a40;
  text-align: center;
  background-color: #E4F4D6; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF4545), to(#FF4545));
  background-image: -webkit-linear-gradient(top, #fef3ae 0%, #fef3ae 100%);
  background-image:      -o-linear-gradient(top, #fef3ae 0%, #fef3ae 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #fef3ae), to(#fef3ae));
  background-image:         linear-gradient(top, #fef3ae 0%, #fef3ae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef3ae', endColorstr='#fef3ae',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #FFFFF4;
}

.nav-justified > .active > a,
.nav-justified > .active > a:focus {
  background-color: white;
  color: #197519 !important;
  background-image: none ;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15) ;
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15) ;
}

.nav-justified > .active > a:hover
{
    background-color: #fef3ae;
    
}

.nav-justified > li > a:hover {
background-color: #fef3ae;
border-color: #FFFFF4;
color: #197519;
}

.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px !important;
  }
  .nav-justified > li > a {
    border-right: 1px solid #FFFFF4;
    border-left: 1px solid #FFFFF4;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
	color: white;
      
  }
}



